@import url("https://fonts.googleapis.com/css?family=Helvetica:400,500,700&display=swap");

.col-auto {
    /*padding: 0 !important;*/
}

.container-section {
    background-color: #151933;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 10px 10px 10px;
}

.section-tab-container {
    background-color: #222a3f !important;
    min-height: 90vh;
    overflow: hidden;

}

.section-tab {

    background-color: #151933;

    /*padding-bottom: 10px;*/
    padding-top: 10px;
}

.red {
    background-color: red
}

.icon-back-container {

    /*margin: 10px 0px 10px 10px;*/
}

.icon-rounded {
    background-color: white;
    border-radius: 50%;
    color: red;

}

.purple {
    background-color: #151933;

}

.header-details {

    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

.display-flex {
    display: flex;
}

.header-section-1-container {

    align-items: center;
    display: flex;
}

.header-section-2-container {

    align-items: center;
    display: flex;
}

.header-section-2 {

    border: 1px solid #214f2c;
    border-radius: 10px;

    padding: 2px 10px 2px 10px
}

.header-section-2-item {
    display: grid;
    padding-right: 6px !important;
    padding-left: 6px !important;
}

.header-section-2-item > p {
    font-size: 16px;
    font-family: "Helvetica Neue" !important;
    font-weight: normal;
}

.small-icon {
    font-size: 8px;
}

.header-section-2-item-p {
    display: inline-block;
    font-weight: bolder;
    margin-top: auto !important;

    margin-bottom: auto !important;
}

.color-red {
    color: red
}

.color-green {
    color: green
}

.color-blue {
    color: blue
}

.nav-link-item {
    background-color: #222a3f;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    table-layout: fixed;
    overflow: hidden;

}

.navbar-menu > li {
    display: inline-block;
    text-align: center;
    background-color: #222a3f;
    margin: 0px 6px 0px 0px;
    padding: 10px 14px 10px 14px;
    /* width: 20%; */
    border-radius: 10px 10px 0px 0px;
    /*width: 15%*/
}

.active {
    background-color: white !important;

}

.active > a > p {
    color: black !important;

}

.navbar-menu > li > a > p > div {

    background-color: red;
    border-radius: 50%;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    align-items: center;
    display: table;
}

.navbar-menu > li > a {

    text-underline: none;
    color: white !important;

}

a:hover {
    color: white;
    text-decoration: none !important;
}

.navbar-menu > li > a > p > div > i {

    font-weight: bolder;
    color: white

}

.navbar-menu > li > a > p > i {

    background-color: red;
    color: white;
    border-radius: 50%;
}

.navbar-menu > li > a > p {

    font-size: 16px;
    font-family: "Helvetica Neue" !important;
    font-weight: bold;
    margin: 0 !important;
}

.tabBody {
    margin: 15px 16px 0px 16px;
    /*background-color: red;*/
}

.tabBody-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h-badge-info {

    height: max-content;
    background: #B01925 0% 0% no-repeat padding-box;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    margin-right: 10px;
}

.title-tabBody {

    font-size: 22px;
    font-family: "Helvetica Neue" !important;
}

.icon-edit-tabBody {
    height: max-content;
    background-color: white;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-left: 10px;
}

.tabBody-Header-container {
    border-bottom: 1px solid #707070;;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-bottom: 12px;
}

.PropertyDetails-container {

    margin-top: 30px;
    margin-left: 13px !important;
    margin-right: 13px !important;
}

.gallery-tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery-tab-link {
    background-color: #22273F;

    box-shadow: 0px 3px 6px #000000;

    /*margin-right: 8px;*/
    border-radius: 10px 10px 0px 0px;

}

.gallery-active-tab {
    background-color: white;
}

.gallery-active-tab > a > div {
    color: #22273F;
}

.gallery-tab-icon {

    padding-right: 10px;
    /*padding-left: 10px;*/
}

.gallery-tab-item {

    font-size: 14px;
    font-family: "Helvetica Neue" !important;
    padding: 10px 20px 7px 20px;
    color: white
}

.gallery-selected-image {
    width: 100%;

    margin-top: 2px;
}

.gallery-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;

}

.gallery-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.gallery-images-item {
    width: 25%;
    margin-right: 10px;
}

.header-section-title {

    font-size: 16px;
    font-family: "Helvetica Neue" !important;
    text-align: left;
}

hr {
    border: 1px solid #D3D3D3 !important;

    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;

}

.property-details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px
}

.property-details-item-section-1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    font-size: 12px !important;
    font-family: "Helvetica Neue" !important;
    font-weight: bold;
}

.property-details-item-section-2 {
    font-size: 12px !important;
    font-family: "Helvetica Neue" !important;

}

.property-details-item-section-1-icon {
    color: red;
    margin-right: 10px;
}

.footer-section-2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    margin-top: 15px;
}

.footer-section-2-container:hover {
    cursor: pointer;
}

.footer-section-2-text {
    font: Bold 14px/17px Helvetica Neue;

    letter-spacing: 0px;
    color: #B01925;
    margin-right: 5px;
}

.section-2-p {
    text-align: left !important;
    font: 14px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 10px !important;
}

.PropertyDetails-section-3-container {

    background: #22273F 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #111320;
    border-radius: 8px;
    padding: 45px 10px 45px 10px;
}

.PropertyDetails-section-3-item {
    padding: 7px 5px 7px 5px;
}

.modal-header {
    align-items: center !important;
}

.modal-title {
    text-align: center !important;
    font: Bold 16px Helvetica Neue !important;
    letter-spacing: 0px;
    color: #000000;

    padding: 50px 5px 23px 5px;
}

.modal-body {
    margin: 5px 25px 10px 25px;
}

.modal-fixed-header-item-container {

    padding: 0px !important;

    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}

.modal-fixed-header-item {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;

    padding: 15px 5px 15px 5px;
}

.modal-fixed-header-item-no-border {

    border-left: none !important;
    border-right: none !important;

}

.modal-fixed-header-item-label {
    text-align: left;
    font: Bold 12px Helvetica Neue;
    letter-spacing: 0px;
    color: #024CB1;
    opacity: 1;
}

.modal-fixed-header-item-value {
    text-align: left;
    font: 12px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.modal-properties-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.black {
    color: black
}

.close-icon-container {

    background-color: red;
    position: absolute;
    right: -1.5%;
    top: -1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    width: 25px;
    height: 25px;
}

.close-icon-container:hover {
    cursor: pointer;
}
